seed_everything: 42

model:
  class_path: src.models.jsa.JSA
  init_args:
    joint_model:
      class_path: src.models.components.joint_model.JointModelCategoricalGaussian
      init_args:
        num_categories: [256]
        num_latent_vars: 1
        embedding_dims: [8]
        sigma: 0.01
        net:
          class_path: src.models.components.networks.ConvDecoder
          init_args:
            final_activation: tanh
            ch: 32 
            out_ch: 1
            ch_mult: [1, 2, 4]
            num_res_blocks: 2
            attn_resolutions: []
            activation: swish
            norm_type: group
            dropout: 0.0
            resamp_with_conv: true
            in_channels: null # not used in decoder
            resolution: 28
            z_channels: 8 # should calculated based on embedding_dims and num_latent_vars
    proposal_model:
      class_path: src.models.components.proposal_model.ProposalModelCategorical
      init_args:
        num_categories: [256]
        num_latent_vars: 1
        net:
          class_path: src.models.components.networks.ConvEncoder
          init_args:
            ch: 32
            out_ch: null # not used in encoder
            ch_mult: [1, 2, 4]
            num_res_blocks: 2
            attn_resolutions: []
            activation: swish
            norm_type: group
            dropout: 0.0
            resamp_with_conv: true
            in_channels: 1
            resolution: 28
            z_channels: 256 # should calculated based on num_categories and num_latent_vars
    sampler:
      _target_: src.samplers.misampler.MISampler
      use_cache: false # initial value, will be updated during training
      dataset_size: 60000
      element_shape: [7, 7]
    gan_loss: null
      # class_path: src.models.components.losses.JSAGANLoss
      # init_args:
      #   disc_start: 250 # steps
      #   disc_num_layers: 3 # of conv layers
      #   disc_in_channels: 1
      #   disc_factor: 1.0
      #   disc_weight: 1.0
      #   disc_loss: hinge
    
    lr_joint: 1e-3
    lr_proposal: 1e-3
    lr_discriminator: 1e-4
    num_mis_steps: 10
    cache_start_epoch: 300

    init_from_ckpt: null
    init_mode: "warm_start" # "resume" or "warm_start"
    init_strict: false

    adaptive_sigma: false
    target_acceptance_range: [0.5, 0.8]
    sigma_controller_rate: 0.01
    sigma_min: 0.01
    sigma_max: 0.5

data:
  class_path: src.data.mnist.MNISTDataModule
  init_args:
    root: ./data
    batch_size: 500
    num_workers: 4

trainer:
  logger:
    class_path: lightning.pytorch.loggers.tensorboard.TensorBoardLogger
    init_args:
      save_dir: ./egs/continuous_mnist
      name: categorical_prior_conv

  callbacks:
    # - class_path: src.utils.redirect_print_callback.RedirectPrintCallback
    #   init_args:
    #     filename: training.log
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        monitor: valid/nll
        mode: min
        save_top_k: 1
        filename: best-checkpoint
        save_last: true
    # - class_path: lightning.pytorch.callbacks.EarlyStopping # 不使用早停
    #   init_args:
    #     monitor: valid/nll
    #     mode: min
    #     patience: 10

    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        save_top_k: -1 # save all checkpoints
        filename: last-checkpoint
        every_n_epochs: 1
        dirpath: ./egs/continuous_mnist/categorical_prior/version_3/checkpoints
    - class_path: lightning.pytorch.callbacks.LearningRateMonitor
      init_args:
        logging_interval: step
    - class_path: lightning.pytorch.callbacks.ModelSummary
      init_args:
        max_depth: 2
    - class_path: src.utils.grad_norm_callback.GradientNormCallback
      init_args:
        norm_type: 2
        log_every_n_steps: 1

  max_epochs: 200
  accelerator: gpu
  devices: [4, 5, 6, 7]
  strategy: ddp_find_unused_parameters_true
  # strategy: auto
  precision: 32
  enable_progress_bar: true
  log_every_n_steps: 25
