seed_everything: 42

model:
  class_path: src.models.jsa.JSA
  init_args:
    joint_model:
      class_path: src.models.components.joint_model.JointModelCategoricalGaussian
      init_args:
        num_categories: [4096]
        num_latent_vars: 1
        embedding_dims: [12]
        net:
          class_path: src.models.components.networks.ConvDecoder
          init_args:
            input_dim: 12
            final_activation: tanh
            decoder_args:
              ch: 32
              out_ch: 1
              ch_mult: [1, 2, 4]
              num_res_blocks: 2
              attn_resolutions: []
              dropout: 0.0
              resamp_with_conv: true
              in_channels: 1
              resolution: 28
              z_channels: 4
    proposal_model:
      class_path: src.models.components.proposal_model.ProposalModelCategorical
      init_args:
        num_categories: [4096]
        num_latent_vars: 1
        net:
          class_path: src.models.components.networks.ConvEncoder
          init_args:
            input_shape: [1, 28, 28]
            output_dim: 4096
            encoder_args:
              ch: 32
              out_ch: 1
              ch_mult: [1, 2, 4]
              num_res_blocks: 2
              attn_resolutions: []
              dropout: 0.0
              resamp_with_conv: true
              in_channels: 1
              resolution: 28
              z_channels: 4
              double_z: false
    sampler:
      _target_: src.samplers.misampler.MISampler
      use_cache: false # initial value, will be updated during training
      dataset_size: 60000
    lr_joint: 3e-4
    lr_proposal: 3e-4
    num_mis_steps: 2
    cache_start_epoch: 600

data:
  class_path: src.data.mnist.MNISTDataModule
  init_args:
    root: ./data
    batch_size: 32
    num_workers: 4

trainer:
  logger:
    class_path: lightning.pytorch.loggers.tensorboard.TensorBoardLogger
    init_args:
      save_dir: ./egs/continuous_mnist
      name: categorical_prior_conv

  callbacks:
    # - class_path: src.utils.redirect_print_callback.RedirectPrintCallback
    #   init_args:
    #     filename: training.log
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        monitor: valid/nll
        mode: min
        save_top_k: 1
        filename: best-checkpoint
    # - class_path: lightning.pytorch.callbacks.EarlyStopping # 不使用早停
    #   init_args:
    #     monitor: valid/nll
    #     mode: min
    #     patience: 10

    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        save_top_k: -1 # save all checkpoints
        filename: last-checkpoint
        every_n_epochs: 1
        dirpath: ./egs/continuous_mnist/categorical_prior/version_3/checkpoints
    - class_path: lightning.pytorch.callbacks.LearningRateMonitor
      init_args:
        logging_interval: step
    - class_path: lightning.pytorch.callbacks.ModelSummary
      init_args:
        max_depth: 2
    - class_path: src.utils.grad_norm_callback.GradientNormCallback
      init_args:
        norm_type: 2
        log_every_n_steps: 1

  max_epochs: 1000
  accelerator: gpu
  devices: [4, 5, 6, 7]
  strategy: ddp_find_unused_parameters_true
  # strategy: auto
  precision: 32
  enable_progress_bar: true
  log_every_n_steps: 25
