seed_everything: 23

model:
  class_path: src.models.vq_gan.VQModel
  init_args:
    encoder:
      class_path: src.modules.vqvae.vq_adaptor.ConvEncoder
      init_args:
        ch: 64
        ch_mult: [1, 2, 4]
        num_res_blocks: 2
        z_channels: 256
        double_z: false
        in_channels: 3
        resolution: 32
        activation: swish
        norm_type: group
        attn_resolutions: []
        dropout: 0.0
        resamp_with_conv: true
    decoder:
      class_path: src.modules.vqvae.vq_adaptor.ConvDecoder
      init_args:
        ch: 64
        ch_mult: [1, 2, 4]
        num_res_blocks: 2
        z_channels: 256
        out_ch: 3
        resolution: 32
        activation: swish
        norm_type: group
        attn_resolutions: []
        dropout: 0.0
        resamp_with_conv: true
        final_activation: null

    quantizer:
      class_path: src.modules.vqvae.quantize.VectorQuantizer2
      init_args:
        n_e: 1024
        e_dim: 256
        beta: 0.25
        remap: null
        sane_index_shape: false
        in_channels: 256
        freeze_codebook: false

    loss:
      class_path: src.modules.losses.vqperceptual.VQLPIPSWithDiscriminator
      init_args:
        disc_conditional: False
        disc_in_channels: 3
        disc_num_layers: 2
        disc_ndf: 32
        disc_start: 500000 # larger than max_steps, to disable for discriminator training
        disc_weight: 0.8
        codebook_weight: 1.0
        perceptual_weight: 1.0
        pixel_loss: "l1"

    image_key: "image"
    base_learning_rate: 4.5e-06
    ckpt_path: null

data:
  class_path: src.data.cifar10.CIFAR10DataModule
  init_args:
    root: ./data/cifar10
    batch_size: 128
    num_workers: 4

trainer:
  logger:
    class_path: lightning.pytorch.loggers.TensorBoardLogger
    init_args:
      save_dir: ./egs/cifar10/vqgan
      name: vq_gan_cifar10

  callbacks:
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        filename: "{epoch:06}"
        save_last: true
        save_top_k: 3
        monitor: valid/rec_loss

    - class_path: lightning.pytorch.callbacks.LearningRateMonitor
      init_args:
        logging_interval: "step"

    - class_path: src.utils.callbacks.image_logger_callback.ImageLogger
      init_args:
        batch_frequency: 750
        max_images: 25
        clamp: true

    - class_path: src.utils.callbacks.grad_norm_callback.GradientNorm
      init_args:
        norm_type: 2
        log_every_n_steps: 1

    - class_path: src.utils.callbacks.save_model_summary_callback.LogModelSummary
      init_args:
        max_depth: 4

    - class_path: src.utils.callbacks.codebook_stats_callback.CodebookStats
      init_args:
        stage: "valid"
        log_prefix: "valid"
        plot: true
        sort_by_counter: true
        use_log_scale: false
  accelerator: gpu
  devices: [6, 7]
  strategy: ddp_find_unused_parameters_true
  max_epochs: 50000
  max_steps: 100000 # higher priority than max_epochs
  precision: 32
