seed_everything: 42

model:
  class_path: src.models.jsa.JSA
  init_args:
    joint_model:
      class_path: src.modules.jsa.joint_model.JointModelCategoricalGaussian
      init_args:
        sample_chunk_size: 1
        net:
          class_path: src.modules.jsa.jsa_adaptor.ConvDecoder
          init_args:
            num_categories: [1024]
            num_latent_vars: 1
            embedding_dims: [256]
            final_activation: tanh
            ch: 64 
            out_ch: 3
            ch_mult: [1, 2, 4]
            num_res_blocks: 2
            attn_resolutions: []
            activation: swish
            norm_type: group
            dropout: 0.0
            resamp_with_conv: true
            in_channels: null # not used in decoder
            resolution: 32
            z_channels: 256 # should calculated based on embedding_dims and num_latent_vars
    proposal_model:
      class_path: src.modules.jsa.proposal_model.ProposalModelCategorical
      init_args:
        num_categories: [1024]
        num_latent_vars: 1
        net:
          class_path: src.modules.jsa.jsa_adaptor.ConvEncoder
          init_args:
            ch: 64
            out_ch: 1024 # not used in encoder
            ch_mult: [1, 2, 4]
            num_res_blocks: 2
            attn_resolutions: []
            activation: swish
            norm_type: group
            dropout: 0.0
            resamp_with_conv: true
            in_channels: 3
            resolution: 32
            z_channels: 256 # should calculated based on num_categories and num_latent_vars
    sampler:
      _target_: src.samplers.misampler.MISampler
      use_cache: false # initial value, will be updated during training
      dataset_size: 50000
      element_shape: [8, 8] # height and width of latent variable
    gan_loss: null
      # class_path: src.models.components.losses.JSAGANLoss
      # init_args:
      #   disc_start: 250 # steps
      #   disc_num_layers: 3 # of conv layers
      #   disc_in_channels: 3
      #   disc_factor: 1.0
      #   disc_weight: 1.0
      #   disc_loss: hinge
    
    base_lr_joint: 4.5e-07
    base_lr_proposal: 4.5e-07
    base_lr_discriminator: 1.86e-07
    num_mis_steps: 20
    cache_start_epoch: 180

    init_from_ckpt: null
    init_mode: resume # "resume" or "warm_start"
    init_strict: false

    sigma_controller:
      _target_: src.utils.controllers.SigmaController
      mode: scheduled
      init_sigma: 0.2
      clamp_to_schedule: true

      scheduler:
        _target_: src.utils.schedulers.SigmaScheduler
        max_val: 0.2
        min_val: 0.02
        warmup_steps: 10000
        total_steps: 50000 # if using epochs, make sure to set max_epochs in trainer
        hold_steps: 10000
        mode: cosine

      adaptive_controller:
        _target_: src.utils.controllers.ParameterController
        param_name: mis_sigma
        target_range: [0.2, 0.5]
        adjustment_rate: 0.01
        mode: exponential
     

data:
  class_path: src.data.cifar10.CIFAR10DataModule
  init_args:
    root: ./data/cifar10
    batch_size: 128
    num_workers: 4

trainer:
  logger:
    class_path: lightning.pytorch.loggers.tensorboard.TensorBoardLogger
    init_args:
      save_dir: ./egs/cifar10/jsa
      name: categorical_prior_conv

  callbacks:
    # - class_path: src.utils.redirect_print_callback.RedirectPrintCallback
    #   init_args:
    #     filename: training.log
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        monitor: valid/recon_mse 
        mode: min
        save_top_k: 3
        filename: "{epoch:06}"
        save_last: true

 
    - class_path: lightning.pytorch.callbacks.LearningRateMonitor
      init_args:
        logging_interval: step
    - class_path: src.utils.callbacks.grad_norm_callback.GradientNorm
      init_args:
        norm_type: 2
        log_every_n_steps: 1

    - class_path: src.utils.callbacks.save_model_summary_callback.LogModelSummary
      init_args:
        max_depth: 4

    - class_path: src.utils.callbacks.image_logger_callback.ImageLogger
      init_args:
        batch_frequency: 750
        max_images: 25
        clamp: true

    - class_path: src.utils.callbacks.codebook_stats_callback.CodebookStats
      init_args:
        stage: "valid"
        log_prefix: "valid"
        plot: true
        sort_by_counter: true
        use_log_scale: false

  max_epochs: 400
  max_steps: 50000 # higher priority than max_epochs
  accelerator: gpu
  devices: [1,2,4,5]
  strategy: ddp_find_unused_parameters_true
  # strategy: auto
  precision: 32
  enable_progress_bar: true
  log_every_n_steps: 25
